<header class="navbar navbar-light navbar-expand-lg bg-light">
  <a class="navbar-brand" href="#">Logo</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item active"
        *ngIf="
          (isAuthenticated$ | async);
          then authorizedMessage;
          else loginBlock
        "
      ></li>
      <li class="nav-item active">
        <app-button
          label="Log off"
          type="button"
          (click)="logOff()"
          class="logoff-btn"
        ></app-button>
      </li>
    </ul>
  </div>
</header>

<ng-template #authorizedMessage
  ><span class="nav-link user-login"
    >Hello, {{ userData$ | async }}!</span
  ></ng-template
>
<ng-template #loginBlock>
  <a class="nav-link user-login" href="/login">User login</a></ng-template
>
