<div class="container">
  <form [formGroup]="courseForm">
    <div class="form-group">
      <label
        >Title
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="title"
        />
      </label>
    </div>
    <div class="form-group">
      <label>
        Description
        <textarea
          class="form-control"
          rows="3"
          placeholder="course description"
          formControlName="description"
        ></textarea>
      </label>
    </div>
    <div class="form-group">
      <label>
        Date
        <input
          class="form-control"
          placeholder="course creation date"
          formControlName="creationDate"
        />
      </label>
    </div>
    <div class="form-group">
      <label>
        Duration
        <input
          class="form-control"
          placeholder="course duration in minutes"
          formControlName="duration"
        />
      </label>
      <!-- >span>{{ (course.duration | minutesToHours) || '' }}</span -->
    </div>
    <div class="form-group">
      <label
        >Authors
        <input class="form-control" placeholder="course authors" />
      </label>
    </div>
  </form>
  <button type="button" class="btn btn-primary" (click)="click.emit(course)">
    Save
  </button>
  <a type="button" class="btn btn-secondary" routerLink="/courses">Cancel</a>
</div>
